{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GeoPlant - Ficha Botânica</title>
    <link rel="shortcut icon" href="{% static 'assets/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/core.css' %}" />
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
    <style>

    </style>
</head>

<body>
    <aside>
        <img class="logo" src="{% static 'assets/geoplant_w.png' %}" alt="Logo Geo Plant" width="90" height="90" />
        <a href="{% url 'catalog' %}"><img src="{% static 'svg/home.svg' %}" alt="home" />Catálogo</a>
        <a href="{% url 'create_botanical' %}"><img src="{% static 'svg/register_botanic.svg' %}"
                alt="registrar" />Registro</a>
        <a href="#"><img src="{% static 'svg/settings.svg' %}" alt="Configurações" />Configurações</a>
        <a href="{% url 'login' %}"><img src="{% static 'svg/logout.svg' %}" alt="Sair" />Sair</a>
    </aside>

    <div class="main">
        <header>
            <h1>Novo Registro</h1>
        </header>

        <div class="content">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <section class="info">
                    <h3><img src="{% static 'svg/florest.svg' %}" width="30px" alt="Info" />Identificação Botânica</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Nome Binomial</label>
                            {{ form.binomial }}
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Nome Comum</label>
                            {{ form.common_name }}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Família Botânica</label>
                            {{ form.botanical_family }}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Gênero</label>
                            {{ form.genus }}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Espécie</label>
                            {{ form.species }}
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Autor</label>
                            {{ form.author }}
                        </div>
                    </div>
                </section>

                <section>
                    <h3><img src="{% static 'svg/eco.svg' %}" width="30px" alt="Info" />Morfologia</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label">Altura</label>
                            {{ form.height }}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Diâmetro</label>
                            {{ form.diameter }}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Tipo de Caule</label>
                            {{ form.stem_type }}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Tipo de Folha</label>
                            {{ form.leaf_type }}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Tipo de Flor</label>
                            {{ form.flower_type }}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Período de Floração</label>
                            {{ form.flowering_period }}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Tipo de Fruto</label>
                            {{ form.fruit_type }}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Período de Frutificação</label>
                            {{ form.fruiting_period }}
                        </div>
                        <div class="col-12">
                            <label class="form-label">Observações Morfológicas</label>
                            {{ form.morphological_observations }}
                        </div>
                    </div>
                </section>

                <section>
                    <h3><img src="{% static 'svg/climate.svg' %}" width="30px" alt="Info" />Dados Ambientais</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label">Tipo de Solo</label>
                            {{ form.soil_type }}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">pH do Solo</label>
                            {{ form.soil_pH }}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Nível de Umidade</label>
                            {{ form.moisture }}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Iluminação</label>
                            {{ form.lighting }}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Temperatura</label>
                            {{ form.temperature }}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Clima Predominante</label>
                            {{ form.climate }}
                        </div>
                    </div>
                </section>

                <section>
                    <h3><img src="{% static 'svg/cultivo.svg' %}" width="30px" alt="Info" />Cultivo</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label">Requisito de Água</label>
                            {{ form.water_requirement }}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Frequência de Rega</label>
                            {{ form.watering_frequency }}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Tipo de Fertilização</label>
                            {{ form.fertilization_type }}
                        </div>
                        <div class="col-12">
                            <label class="form-label">Sustentabilidade</label>
                            {{ form.susceptibility }}
                        </div>
                        <div class="col-12">
                            <label class="form-label">Notas de Cultivo</label>
                            {{ form.cultivation_notes }}
                        </div>
                    </div>
                </section>

                <section>
                    <h3><img src="{% static 'svg/loc.svg' %}" width="30px" alt="Info" />Localização</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label">País</label>
                            {{ form.country }}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Estado/Província</label>
                            {{ form.state_province }}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Cidade</label>
                            {{ form.city }}
                        </div>
                        <div class="col-12">
                            <label class="form-label">Localização Específica</label>
                            {{ form.specific_location }}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Latitude</label>
                            {{ form.latitude }}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Longitude</label>
                            {{ form.longitude }}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Altitude (m)</label>
                            {{ form.altitude_meters }}
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Bioma</label>
                            {{ form.biome }}
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Ecossistema</label>
                            {{ form.ecosystem }}
                        </div>
                    </div>
                </section>

                <section>
                    <h3><img src="{% static 'svg/calendar.svg' %}" width="30px" alt="Info" />Datas</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label">Data de Registro</label>
                            {{ form.registration_date }}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Data de Plantio</label>
                            {{ form.planting_date }}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Data de Coleta</label>
                            {{ form.collection_date }}
                        </div>
                    </div>
                </section>

                <section>
                    <h3><img src="{% static 'svg/globe.svg' %}" width="30px" alt="Info" />Origem e Coleta</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Origem</label>
                            {{ form.origin }}
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Número da Coleta</label>
                            {{ form.collection_number }}
                        </div>
                        <div class="col-12">
                            <label class="form-label">Registrado Por</label>
                            {{ form.registered_by }}
                        </div>
                    </div>
                </section>

                <section>
                    <h3><img src="{% static 'svg/photo.svg' %}" width="30px" alt="Info" />Imagens</h3>
                    <div class="row">
                        <div class="col-12">
                            <label class="form-label">Imagem Geral</label>
                            {{ form.general_image }}
                        </div>
                        <div class="col-12">
                            <label class="form-label">Caule</label>
                            {{ form.stem_image }}
                        </div>
                        <div class="col-12">
                            <label class="form-label">Folha</label>
                            {{ form.leaf_image }}
                        </div>
                        <div class="col-12">
                            <label class="form-label">Flor</label>
                            {{ form.flower_image }}
                        </div>
                        <div class="col-12">
                            <label class="form-label">Fruto</label>
                            {{ form.fruit_image }}
                        </div>
                    </div>
                </section>

                <div class="create">
                    <button type="submit" class="btn btn-success">Fazer Registro</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
