{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Geo Plant - Link sent</title>
    <link rel="shortcut icon" href="{% static 'assets/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>

<body>

    <form>
        <img src="{% static 'assets/geoplant.png' %}" alt="Logo Geo Plant" width="90" height="90">
        <h2>Link sent!</h2>

        <p style="text-align:center;">
            The project is running locally.<br> Check the CLI where the server is running to get the password
            reset URL.
        </p>

        <a href="{% url 'login' %}"><button type="button">Back to login</button></a>
    </form>

</body>

</html>
