{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Geo Plant - Alteração de senha</title>
    <link rel="shortcut icon" href="{% static 'assets/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>

<body>
    <form>
        <img src="{% static 'assets/geoplant.png' %}" alt="Logo Geo Plant" width="90" height="90">

        <h2>Senha alterada com sucesso!</h2>

        <p style="text-align:center;">
            Sua senha foi alterada. Agora você pode fazer login normalmente.
        </p>

        <a href="{% url 'login' %}">
            <button type="button">Voltar para o login</button>
        </a>
    </form>
</body>

</html>
